*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(8, 1, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color:white;
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 20px rgb(187, 26, 26);
}
.time{
    color: black;
    font-size: 150px;
    padding: 10px;
    
}
.btn{
    font-size: 30px;
    padding: 10px 10px;
    background-color: red;
    color: white;
    margin-inline: 20px;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
#start:hover{
    background-color: green;
    cursor: pointer;
    transform: scale(1.1);
}
#stop:hover{
    background-color: blue;
    cursor: pointer;
    transform: scale(1.1);
}
#reset:hover{
    background-color: rgb(101, 4, 4);
    cursor: pointer;
    transform: scale(1.1);
}